.withBullet {
  padding-bottom: 30px;
  padding-left: 30px;

  & > li {
    position: relative;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}

@media (max-width: 500px) {
  .withBullet {
    padding-bottom: 15px;

    & > li {
      margin-bottom: 5px;
    }
  }
}
