.Feedback {
  position: absolute;
  width: 100%;

  top: 100%;
  transform: translate(0, -150%);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;

  .FeedbackMainInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    grid-gap: 5%;
  }
  .TAS {
    font-size: 22px;
    color: #faf5f4;
    font-size: 30px;
    padding-bottom: 30px;
    // text-align: center;
  }
}

@media (max-width: 900px) {
  .Feedback {
    transform: translate(0, -120%);

    .FeedbackMainInfo {
      grid-gap: unset;
      padding-bottom: 10px;
    }
    .TAS {
      color: #faf5f4;
      font-size: 18px;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
}

@media (max-width: 500px) {
  .Feedback {
    .FeedbackMainInfo {
      grid-gap: unset;
      padding-bottom: 10px;
      grid-template-columns: 1fr;
      row-gap: 10%;
      padding-bottom: 20px;
    }
    .cor {
      width: 80%;
      text-align: center;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
}
@media (max-width: 340px) {
  .Feedback {
    margin-top: 40px;
    .FeedbackMainInfo {
      width: 80%;
    }
  }
}
