.wp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
  justify-items: center;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 900px) {
  .wp {
    grid-template-columns: 1fr;
    row-gap: 10%;
  }
}
