.ImageWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .Image {
    z-index: 3;
    object-fit: cover;
    width: 90%;
  }
}

@media (max-width: 1515px) {
  .ImageWrapper {
    .Image {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .ImageWrapper {
    min-height: unset;
    margin-bottom: 40px;
  }
}
